/*systems.css*/

body,
html {
    width: 100%;
    height: 100%;
    background-color: black;
}

.content-section-a {
    padding: 50px 0;
    background-color: black;
    border-top: 1px solid white;
    color: white;
    position: relative;
}


.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.topnav {
    font-size: 14px;
}

.navbar {
    background-image: none;
    background-color: black;
}



#topnavlogo {
    width: 120px;
    height: auto;
    position: relative;
    top: 4px;
}

#bannercontainer {
  background-color: black;
  position: relative;
  top: 130px;
}

#systembanner {
  width: 100%;
  height: 300px;
  position: relative;
  
}

#content1 {
    top: 170px;
    background-image: none;
}

#content2 {
    top: 200px;
}

#content3 {
    top: 250px;
}

#content4 {
    top:300px;
}

#content5 {
    top: 400px;
}

#content6 {
    top: 450px;
}

#security_text {
    font-size: 1.25em;
}


#testing {
    position: relative;
    top: 150px;
}

